[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
wtforms = "*"
flask-wtf = "*"
flask-bootstrap4 = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
email-validator = "*"
werkzeug = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9"
