[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-bootstrap4 = "*"
wtforms = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.9"
